<style>
    .msg{
    left: 140px;
    right: 150px;
    position: relative;
    width: fit-content;
    height: fit-content;
    top:140px;
    color: whitesmoke;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .glv{
        width: 120px;
    }
    .main{
        font-size: 50px;
    }
    .error{
        font-weight: 1000;
    }

        @media screen and (max-width: 450px) {
        .glv{
            width: 90px;
          }
          .btn{
            height: 25px;
            font-size: small;
          }
    .msg{
        left: 10px;
        width: 90%;
        position: relative;
        height: fit-content;
        top:100px;
        color: whitesmoke;
        font-size: medium;
    }

} 
</style>

<div class="flex">
    <form action="/" method="get">
        <button class="btn glv">Главная</button>
    </form>
    <img class="btn", src="https://free-png.ru/wp-content/uploads/2020/04/VK_Blue_Logo_t.png">
    <img class="btn youtube", src="https://i.ibb.co/6XVkL6k/You-Tube-full-color-icon-2017-svg-1-2.png">
</div>

<div class="msg">
    Если хотите безвозмездно пожертвовать денгьги, отправляёте их на эту карточку - 2200700445754145
</div>
<div class="msg">
    Скоро здесь будет магазин эффектов и префиксов
</div>