<style>
    .main_text{
        font-size: 75px;
        color: whitesmoke;
        text-align: left;
        font-weight: 800;
        padding-bottom: 20px;
    }
    .main{
        left: 140px;
        right: 150px;
        position: absolute;
        width: fit-content;
        height: fit-content;
        top:280px;
    }
    .sub_text{
        font-size: 24px;
        width: 45%;
        color: whitesmoke;
        font-weight:normal;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .wrap{
        position:absolute;
        height: 96%;
        width: 80%;
        background-color: rgb(128, 0, 128);
        top: 2%;
    }
    .images{
        display: flex;
        position:absolute;
        width: auto;
        left: 860px;
        right: 124px;
        top:310px;
        background-color: #570082aa;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 40px;
    }
    .image{
        opacity: 0;
        margin-bottom: 75px;
        margin-top: 75px;
        border-radius: 40px;
        width: 90%;
        transition: all 3s ease 0s;
    }
    .image.active{
        opacity: 1;
    }
    .foot{
        margin-top: 100px;
        position: relative;
        width: fit-content;
        height: fit-content;
        margin-bottom: 50px;
        font-size:x-large;
        
    }
    @media screen and (max-width: 1100px) {
        .main{
        left: 15px;
        right: 10%;
        position: absolute;
        width: fit-content;
        height: fit-content;
        top:140px;
    }
    .main_text{
        font-size: 60px;
        color: whitesmoke;
        text-align: left;
        font-weight: 800;
        padding-bottom: 20px;
    }
    .sub_text{
        font-size: 24px;
        width: 70%;
        color: whitesmoke;
        font-weight:normal;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .images{
        display: none;
    }
    .foot{
        font-size: medium;
        margin-top: 30px;
    }
}  
      @media screen and (max-width: 450px) {
        .main{
        left: 15px;
        right: 10%;
        position: absolute;
        width: fit-content;
        height: fit-content;
        top:140px;
    }
    .main_text{
        font-size: 40px;
        color: whitesmoke;
        text-align: left;
        font-weight: 800;
        padding-bottom: 20px;
    }
    .sub_text{
        font-size: 18px;
        width: 70%;
        color: whitesmoke;
        font-weight:normal;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .images{
        display: none;
    }
    .foot{
        font-size: medium;
        margin-top: 30px;
    }
}  


</style>
<div class="flex">
    <form action="/login" method="get">
        <button class="btn">Подать заявку</button>
    </form>
    <a href="https://vk.com/club217224076"><img class="btn", src="https://free-png.ru/wp-content/uploads/2020/04/VK_Blue_Logo_t.png"></a>
    <a href=""><img class="btn youtube", src="https://i.ibb.co/6XVkL6k/You-Tube-full-color-icon-2017-svg-1-2.png"></a>
</div>
<div class="main">
    <div class="main_text">ВРЕМЯ НАЧАТЬ</div>
    <div class="sub_text">ИнитТайм - рп сервер в майнкрафт, на котором люди строят красивые постройки, создают огромные фермы, отыгрывают РолеПлей, чиллят и просто дурачатся. 

</div>
    <div class="sub_text">Идея для проекта появилась спонтанно, когда несколько человек сидели в голосовом. Одним из этих человек являлась Финди, которая с тех времëн и до сих пор главный администратор ИнитТайм.
</div>
    <div class="sub_text">В первые дни всë было круто, игроки развивались, начинали строить свои базы, но их идиллия прекратилась в один момент. Этим моментом было первое РП событие - убийство.
</div>
    <div class="sub_text">На сервере тогда и до сих пор работает система с 3-мя каноничными жизнями: если ты умираешь во время РП, то эта смерть считается каноничной.
</div>
    <div class="sub_text">Всех взбудоражила новость о первом убийстве и игроки отложили свои постройки. Большая часть участников проекта переключилась на тему налаживания отношений с другими игроками, но были и те, кто наоборот строил распри и устраивал конфликты... Именно в этот момент тема РолеПлея на нашем сервере вышла на первый план. 
</div>
    <div class="sub_text">Время шло, люди контактировали друг с другом. Иногда администраторам приходилось банить игроков, но в это же время появлялись новые. Строились огромные города, но их разрушали. Всë это был 1-ый сезон ИнитТайм'а, который продлился 6 месяцев.
</div>
    <div class="sub_text">Старт 2-ого сезона был проблематичным, но давайте по порядку. Во-первых, перед началом сезона админ состав сервера сильно изменился. Во-вторых, сам сезон планировали сделать с использованием модов (1-ый сезон был на ваниле).
</div>
    <div class="sub_text">Сразу же начались проблемы. Оказалось, что некоторые участники нового админ состава не могли нормально справляться со своей работой, из-за чего количество модов к запуску сервера сильно сократили, сезон начали поздно и с лагами.
</div>
    <div class="sub_text">Но как итог сервер стартовал и начал свою работу в нормальном режиме. На этом сезоне РП стало более глубоким и прописанным. Теперь у каждого была своя чёткая роль. Также, перед тем как устраивать какое-то событие с другими игроками, нужно было обсудить это событие с администрацией, а потом и с самим игроком. Да, из-за этого часто пропадала вся неожиданность, но зато недопонимания в РП стало в разы меньше. Другой отличительной чертой 2-ого сезона был сеттинг. Теперь всё происходило в сеттинге средневекового фэнтези. Были введены заданичи (миссии, которые помогали раскрывать мир и лор персонажей).
</div>
    <div class="sub_text">Через какое-то время в админ-составе возник конфликт между администраторами. По итогу этого конфликта все участники старого админ-состава были забанены, а на их место пришли другие олдовые игроки, которые до сих пор находятся в администрации ИнитТайм'а.
</div>
    <div class="sub_text">К концу 2-ого сезона они успели добавить большое количество плагинов и модов, а также провести несколько ивентов. Сам сезон прошёл отлично.
</div>
    <div class="sub_text">Предполагали, что новый сезон будет сильно похож на 1-ий, в силу их схожестей: ванила, открытый сеттинг и открытый лор. Также были сделаны улучшения: на сервер добавили большое количество полезных плагинов для удобной игры, перешли на новую версию 1.19, добавили текстур пак, начали проводить ивенты каждые 2 недели. 3-ий сезон открылся в 16:30 25-ого августа 2022-ого года и он до сих пор идёт...
</div>

<div class="foot">
    <a href="/donate" class="link">Поддержать сервер монетой</a>
</div>
</div>

<div class="images">

    <img class="image anim" src="https://cdn.discordapp.com/attachments/1004879831269392454/1044671168629702756/unknown.png">
    <img class="image anim" src="https://cdn.discordapp.com/attachments/1004879831269392454/1044672667325829140/unknown.png">
    <img class="image anim" src="https://cdn.discordapp.com/attachments/1004879831269392454/1044672999833485383/unknown.png">
    <img class="image anim" src="https://cdn.discordapp.com/attachments/1004879831269392454/1044675068845887578/unknown.png">
    <img class="image anim" src="https://cdn.discordapp.com/attachments/1004879831269392454/1044676289187037267/unknown.png">
    <img class="image anim" src="https://cdn.discordapp.com/attachments/1004879831269392454/1044681574957985873/unknown.png">
    <img class="image anim" src="https://cdn.discordapp.com/attachments/1004879831269392454/1045286579649917040/2022-11-21_20.56.05.png">
</div>

<script>
    const anims = document.querySelectorAll('.anim');
    console.log(anims)
    if(anims.length > 0){
        window.addEventListener('scroll', animOnScroll)
        function animOnScroll(){
            for(let i = 0; i < anims.length; i++){
                const anim = anims[i];
                const animHeight = anim.offsetHeight
                const animOffset = offset(anim)
                const animStart = 1;

                let animPoint = window.innerHeight - animHeight / animStart
                if(animHeight > window.innerHeight){
                    animPoint = window.innerHeight - window.innerHeight / animStart
                }

                if(pageYOffset > animOffset - animPoint){
                    anim.classList.add("active")
                }

            }
        }
        function offset(el){
            const rect = el.getBoundingClientRect()
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop
            return rect.top + scrollTop
        }
        animOnScroll()
    }
</script>
