<style>
    .main_text{
        font-size: 70px;
        color: whitesmoke;
        text-align: left;
        font-weight: 800;
        padding-bottom: 20px;
    }
    .sub_header{
        font-size:55px;
        color: whitesmoke;
        text-align: left;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .main{
        left: 140px;
        right: 150px;
        position: absolute;
        width: fit-content;
        height: fit-content;
        top:280px;
    }
    .sub_text{
        font-size: 24px;
        width: 60%;
        color: whitesmoke;
        font-weight:normal;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .images{
        position:absolute;
        left: 860px;
        right: 124px;
        top:420px;
    }
    .image{
        padding-bottom: 150px;
    }
        @media screen and (max-width: 1100px) {
        .main{
            left: 10px;
            right: 10px;
        }
        .main_text{
            font-size: 60px;
        }
        .sub_header{
            font-size: 45px;
        }
        .sub_text{
            font-size: 28px;
        }
} 
    @media screen and (max-width: 450px) {
        .main{
            left: 10px;
            right: 10px;
        }
        .main_text{
            font-size: 50px;
        }
        .sub_header{
            font-size: 35px;
        }
        .sub_text{
            font-size: 24px;
        }
} 

</style>
<div class="flex">
    <form action="/login" method="get">
        <button class="btn">Подать заявку</button>
    </form>
    <a href="https://vk.com/club217224076"><img class="btn", src="https://free-png.ru/wp-content/uploads/2020/04/VK_Blue_Logo_t.png"></a>
    <a href=""><img class="btn youtube", src="https://i.ibb.co/6XVkL6k/You-Tube-full-color-icon-2017-svg-1-2.png"></a>
</div>
<div class="main">
    <div class="main_text">Правила</div>
    <div class="sub_header">1. Общие положения
</div>
    <div class="sub_text">◘ Участники сервера равны перед правилами вне зависимости от опыта и роли.
</div>
    <div class="sub_text">◘ Мат разрешается, но без злоупотребления.
</div>
    <div class="sub_text">◘ Запрещено решение или начало конфликта в текстовых и голосовых каналах.
</div>
    <div class="sub_text">◘ Запрещено оскорбление других пользователей с целью задеть участника.
</div>
    <div class="sub_text">◘ Нельзя использовать NSFW: шок-контент, порнографию.
| исключения; #арты-по-ит, #арты, разрешается под спойлером ; ||текст|| |
</div>
    <div class="sub_text">◘ Запрещено злоупотребление Caps Lock. Злоупотребление "Лесенками" также запрещено.
</div>
    <div class="sub_text">◘ Запрещены все типы флуда.
</div>
    <div class="sub_text">◘ Запрещается жесткий троллинг.
</div>
    <div class="sub_text">◘ Запрещается реклама без согласования с администратором.
</div>
    <div class="sub_text">◘ Не допускается спам-рассылка в личных сообщениях с другими пользователями в целях распространения чего-либо по серверу.
</div>
    <div class="sub_text">◘ Спам разрешен только в #обезьянник
</div>
    <div class="sub_text">◘ Запрещено разжигание межнациональной розни, конфликтов на основании политики и религии.
</div>
    <div class="sub_text">◘ В любом канале запрещена публикация ссылок на другие сервера дискорда, рекламу же согласовывать с админами.
</div>
    <div class="sub_text">◘ Не засорять канал безсмысленными сообщениями.
</div>
    <div class="sub_header">2. Голосовые каналы
</div>
    <div class="sub_text">◘ Не кричать в микрофон.
</div>
    <div class="sub_text">◘ Запрещается включение музыки в микрофон.
</div>
    <div class="sub_text">◘ Не издавать громкий/неприятных звуков.
</div>
    <div class="sub_text">◘ SoundPad должен быть настроен.
</div>
    <div class="sub_text">◘ При наличии шума вокруг, включите Push-To-Talk в настройках звука/микрофона.
</div>
    <div class="sub_text">◘ Не перебивать друг друга.
</div>
    <div class="sub_text">◘ Во время РП процесса игнорировать какие-либо конфликты меж вами, участниками, и просто отыгрывать своего персонажа
</div>
    <div class="sub_text">◘ Не нужно без причины тараторить.
</div>
    <div class="sub_header">3. Правила игры
</div>
    <div class="sub_text">◘ Играя на сервере, игрок соглашается с правилами описанными ниже.
</div>
    <div class="sub_text">◘ Незнание правил не освобождает игрока от ответственности. Взлом аккаунта не является оправданием, если игрок обвиняется в нарушении правил.
</div>
    <div class="sub_text">◘ Заход на сервер с другого аккаунта, независимо, с баном основного или нет, рассматривается нарушением. Оповещайте, что вы заходите с другого аккаунта или кто либо пользуется вашим.
</div>
    <div class="sub_text">◘ Все модераторы вне зависимости от ранга, а также хелперы являются представителями администрации.
</div>
    <div class="sub_text">◘ Администраторы управляют проектом строго по своему усмотрению и вправе наказать игрока по причине, не указанной в правилах.
</div>
    <div class="sub_text">◘ Игрокам запрещено портить чужое имущество, вносить корректировки без согласия владельца.
</div>
    <div class="sub_text">◘ Игрокам запрещено портить территорию (как занятую, так и свободную) разлитием жидкостей, беспорядочно расставленными или выкопанными блоками. Запрещено копать глубокие прямые ямы.
</div>
    <div class="sub_text">◘ Игрокам запрещено использовать любого рода модификации, дающие преимущества над другими игроками (читы).
</div>
    <div class="sub_text">◘ Запрещено использовать баги игрового клиента и сервера, дающие Вам преимущества, а также их целенаправленный поиск.
</div>
    <div class="sub_text">◘ Запрещено распространение/обсуждение программ, багов и уязвимостей, дающих преимущество над игроками, в чате. Если вам известно об одном из них, сообщите в ЛС Администраторам, а не распространяйте информацию среди игроков.
</div>
    <div class="sub_text">◘ Запрещено строить постройки в виде половых органов, нецензурных выражений, свастики и под.
</div>
    <div class="sub_text">◘ Не рекомендуется строить примитивные сооружения, например, огромные каменные/земляные коробки, высокие узкие башни, высокие столбы воды/лавы, огромные бесполезные надписи, длинные дороги в воздухе. (Не распространяется дополнительные измерения)
</div>
    <div class="sub_text">◘ Желательно хоть чуть-чуть предупреждать, если у вас есть перспективы провести РП с игроком
</div>
    <div class="sub_text">◘ Обговаривать РП события, задевающие большое кол-во игроков.
</div>
    <div class="sub_text">◘ Модификации на мини-карту запрещены.
</div>
    <div class="sub_text">◘ Во время PvP запрещается использовать элитры.
</div>
    <div class="sub_text">◘ Любой человек из админ. состава может в любой момент вызвать вас на проверку.
</div>


</div>
